:root{
    --main-color:#00afa5;
    --nav-color:#00afa5;
    --bg-color:white;
    --black:black;
}
*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    text-decoration: none;
    text-transform: capitalize;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: all .5s ease-in;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
}
body{
    background-color: var(--bg-color);
}
 .header{
    background-color: var(--nav-color); 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 7%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    /* z-index: 1000; */
 }
 .header .logo img{
    height:6rem ;
    border-radius: 50%;
 }

 .header .navbar a{
    color: white;
    font-size: 1.3rem;
    margin: 0 1rem;
    
 }

 .header .navbar a:hover{
    color: var(--black);
    border-top: 1rem solid var(--black);
    border-bottom: 1rem solid var(--black);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

 }

 .header .icons{
    display: flex;    
 }

 .header .icons div{
    color: white;
    cursor: pointer;
    font-size: 1.8rem;
    margin-left: 2rem;
 }

 .header .icons div:hover{
    color: var(--black);
 }
 .header .icons .menu-icon{
    display: none;
 }
 .header .search-form{
    display: flex;
    align-items: center;
    position: absolute;
    top: 115%;
    right: 7%;
    width: 35rem;
    border: solid 1px black;
    height: 4rem;
    
 }
 .header .search-form input{
    width: 100%;
    height: 100%;
    background-color: white;
    padding:1rem;
    text-transform: none;
    font-size: 1.3rem;
    color: var(--black);

 }