:root{
    --main-color:#00afa5;
    --nav-color:#00afa5;
    --bg-color:rgb(214, 210, 210);
    --black:black;
}
*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    text-decoration: none;
    text-transform: capitalize;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: all .5s ease-in;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
}
body{
    background-color: var(--bg-color);
}
 .header{
    background-color: var(--nav-color); 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 7%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    /* z-index: 1000; */
 }
 .header .logo img{
    height:6rem ;
    border-radius: 50%;
 }

 .header .navbar a{
    color: white;
    font-size: 1.3rem;
    margin: 0 1rem;
    
 }

 .header .navbar a:hover{
    color: var(--black);
    border-top: 1rem solid var(--black);
    border-bottom: 1rem solid var(--black);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

 }

 .header .icons{
    display: flex;    
 }

 .header .icons div{
    color: white;
    cursor: pointer;
    font-size: 1.8rem;
    margin-left: 2rem;
 }

 .header .icons div:hover{
    color: var(--black);
 }
 .header .icons .menu-icon{
    display: none;
 }
 .header .search-form{
    display: flex;
    align-items: center;
    position: absolute;
    top: 115%;
    right: -100%;
    width: 35rem;
    /* border: solid 1px black; */
    height: 3.5rem;
    background-color: white;    
 }

 .header .search-form.active{
    right: 7%;
 }
 .header .search-form input{
    width: 100%;
    height: 100%;
    padding:1rem;    
    font-size: 1.3rem;
    color: var(--black);
    text-transform: none;

 }

 .header .search-form label{
    color: var(--black);
    font-size: 1.3rem;
    padding-right: 1.3rem;
    cursor: pointer;
 }
 .header .search-form label:hover{
    color: var(--main-color);
 }

 /* cart section */
 .header .cart-items-container{
    position: absolute;
    top: 100%;
    right: 0;
    width: 28rem;
    background-color: white;
    height: 80vh;
    border: solid 1px black;
    padding: 2rem 0;
    

 }

 .header .cart-items-container .cart-item{
    display: flex;
    align-items: center;
    margin: 2rem 0;
    border: solid 1px black;
    position: relative;
 }

 .header .cart-items-container .cart-item img{
    height: 6rem;
 }

 .header .cart-items-container .cart-item span{
    position: absolute;
    top: 2%;
    right: 4%;
    font-size: 2rem;
    color: var(--black);
    cursor: pointer;
 }

 .header .cart-items-container .cart-item span:hover{
    color: red;
 }